.design-follow{
    padding: 37px;

}
.design-follow h1{
    padding: 20px;
    color:rgb(81, 81, 247);
    font-size: 60px;
    font-family: Grunge;

}

.fa {
    padding: 40px;
    font-size: 920px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    gap:20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.sphere2 {
    width: 150px;
    height: 150px;
    border: 15px solid blue;
    border-radius: 150px;
    justify-items: center;
    align-items:center;
    text-align: center;
    background-color:blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    
  
    
}
.sphere2 p{
    color: azure;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
    padding-bottom: 50%;

    justify-items: center;
}