

.small-top{
    display: flex;
    gap: 60px;
    margin: 60px;
}
.small-top2{
    display: flex;
    gap: 90PX;
    
    
    /* border-bottom: 1px solid black; */
}

.small-text{
   
display: flex;
gap: 120px;

}

.small-border{
     border-bottom: 0.5px solid black; 
}